.menu {
    position: absolute;
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
    top: calc(var(--spacing) * 9);
    right: calc(var(--spacing) * 5);
    z-index: 50;
    border-radius: 100%;
    animation: menuOpen 0.5s ease-in-out forwards;
}

.menu.open {
    animation: menuOpen 0.5s ease-in forwards;
    pointer-events: auto;
} 

/* Keyframes */
@keyframes menuOpen {
    from {
        /* width: calc(var(--spacing) * 5);
        height: calc(var(--spacing) * 5); */
        transform: scale(0);
    }
    to {
        /* width: 100vh;
        height: 100vh; */
        transform: scale(200);
    }
}

@keyframes menuClose {
    from {
        transform: scale(200);
    }
    to {
        transform: scale(0);
    }
}
