/* Style for the Main Content */
.main-content {
    font-size: 2rem;
    font-weight: bold;
    animation: slideIn 1s ease-out forwards;
}

/* Animation for sliding up the main content */
@keyframes slideIn {
    0% {
        transform: translatez(100%);
        opacity: 0;
    }

    100% {
        transform: translatez(0);
        opacity: 1;
    }
}

.ping {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: rgba(229, 242, 201, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ping 1.5s infinite ease-out;
    z-index: 0;
}

@keyframes ping {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.8);
        opacity: 0;
    }
}